{
  "parser": "babel-eslint",

  "plugins": [
    "html",
    "flowtype-errors"
  ],

  "extends": [
    "vue",
    "airbnb-base"
  ],

  "rules": {
    "flowtype-errors/show-errors": "off",
    "no-console": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "global-require":"off",
    "no-plusplus":"off",
    "space-before-function-paren": "off"
  }
}
