@import 'variables.scss';
@import 'mixins.scss';

  .code {
    margin: 0 $standard-side-margin;
    text-align: center;

  .code-heading {
    font-size: $large-font - 10px;
    font-weight: $thin;
    margin: 60px auto 30px;
    }

    .big-github-img {
      @include large-img;

      &:hover {
        opacity: $hover-opacity;
      }
    }

    .projects-container {
      display: flex;
      margin-top: 30px;
    }
  }
