@import 'variables.scss';

#header {
  margin: 0 $standard-side-margin;

  h1 {
    color: $standard-gray;
    margin-right: 60px;
    text-transform: uppercase;

    &:hover {
      color: $standard-blue-hover;
    }
  }

  .top-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .social-icons-container {
    display: flex;
    margin: 10px 10px 0 0;

    .social-icon {
      height: 20px;
      margin-right: 5px;
      width: 20px;

      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
}

@media (max-width: $bp-phone) {
  #header {

    h1 {
      margin: 0 0 40px;
    }

    .top-part {
      flex-direction: column;
      text-align: center;
    }

    .social-icons-container {
      margin-bottom: 20px;

      .social-icon {
        margin-right: 20px;
      }
    }
  }
}
