.icons-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon-book {

      img {
        width: 100px;
        height: 100px;
      }

      &:first-child {
        margin-right: 10vw;
      }
    }
  }
