@import 'variables.scss';
@import 'mixins.scss';

#landing {
  margin: 0 $standard-side-margin;

  .splash-image {
    border-radius: 2rem;
    height: 23rem;
    margin-top: 60px;
    width: 100%;
  }

  .landing-splash-text-container {
    margin: 100px auto;
    text-align: center;

    .main-text {
      @include subheading;
    }

    .sub-text {
      font-family: $cursive-font;
      font-size: $large-font - 10px;
    }
  }
}

@media (min-width: $bp-small-desktop) {
  #landing {
    .splash-image {
      height: 36rem;
    }
  }
}

@media (max-width: $bp-phone) {
  #landing {
    .splash-image {
      height: 20rem;
    }
  }
}

