@import 'variables.scss';

#landing {
  margin: 0 $standard-side-margin;

  .splash-image {
    height: 35rem;
    margin-top: 60px;
    width: 100%;
  }

  .landing-splash-text-container {
    margin: 100px auto;
    text-align: center;

    .main-text {
      font-family: $cursive-font;
      font-size: $large-font;
      font-weight: $standard-bold;
    }

    .sub-text {
      font-family: $cursive-font;
      font-size: $large-font - 10px;
    }

  }
}

@media (max-width: $bp-phone) {
  #landing {

    .splash-image {
      height: 20rem;
    }
  }
}

