@import 'variables.scss';
@import 'header.scss';
@import 'header-links.scss';
@import 'landing.scss';
@import 'sticky-header.scss';
@import 'inspirational-quotes.scss';
@import 'code.scss';
@import 'project-tile.scss';
@import 'varied-description.scss';

* {
  box-sizing: border-box;
  font-family: $standard-font;
}

a {
  text-decoration: none;
}

#app {
  margin-top: 60px;
}

.clickable-img {
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.tag-link {
  font-size: 16px;
  color: #12A2DD;

  &:hover {
    color:$standard-blue-hover;
  }
}
