@import 'variables.scss';

@mixin small-img () {
  height: 20px;
  width: 20px;
}

@mixin large-img () {
  height: 75px;
  width: 75px;
}

@mixin page-heading () {
  font-size: $large-font;
  font-weight: $thin;
  margin: 60px auto 30px;
}

@mixin subheading () {
  font-family: $cursive-font;
  font-size: $large-font;
  font-weight: $standard-bold;
}

@mixin boxShadowStandard () {
  -webkit-box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
}

@mixin sectionTitle () {
  font-size: $medium-header;
  font-weight: $standard-bold;
}

@mixin borderStandard {
  border: 2px solid $standard-gray;
  border-radius: 5px;
}

