@import 'variables.scss';

.project-tile {
  width: 20vw;

    &:nth-child(3),
    &:last-child {
      margin-top: 20vh;
    }

    &:first-child,
    &:nth-child(3) {
      margin-right: 5vw;
    }

    .project-tile-image {
      border: 1px solid $medium-gray;
      height: 30vh;
      width: 20vw;
    }
}
