@import 'variables.scss';

#stickyHeader {
    background-color: $standard-background;
    border-bottom: 1px solid $lighter-gray;
    margin: 0 $standard-side-margin;
    position: sticky;
    text-align: center;
    top: -1px;

    h1 {
      color: $standard-gray;
      margin-bottom: 30px;

      &:hover {
      color: $standard-blue-hover;
      }
    }
  }
