//margins and padding
$standard-side-margin: 20vw;

//colors
$standard-background: #fff;
$standard-gray: #8b8d90;
$standard-blue-hover: #00a3e0;
$lighter-gray: #d1ccbd;

//typography
$standard-font: 'Open Sans', sans-serif;
