//margins and padding
$standard-side-margin: 20vw;

//colors
$lighter-gray: #d1ccbd;
$medium-gray: #aeabb3;
$standard-background: #fff;
$standard-blue-hover: #00a3e0;
$standard-gray: #8b8d90;

//typography
$cursive-font: 'Dancing Script', cursive;
$h1-font: 46px;
$h1-font-mobile: 38px;
$large-font: 40px;
$large-font-mobile: 32px;
$medium-header: 26px;
$medium-header-mobile: 22px;
$standard-bold: 600;
$standard-font: 'Open Sans', sans-serif;
$thin: 400;

//media queries
$bp-phone: 550px;
$bp-tablet: 900px;

//misc
$hover-opacity: 0.5;
