//margins and padding
$standard-side-margin: 20vw;

//colors
$lighter-gray: #d1ccbd;
$medium-gray: #aeabb3;
$standard-background: #fff;
$standard-blue-hover: #00a3e0;
$standard-gray: #8b8d90;

//typography
$cursive-font: 'Dancing Script', cursive;
$large-font: 40px;
$standard-bold: 600;
$standard-font: 'Open Sans', sans-serif;

//media queries
$bp-phone: 550px;
