mixin icons()

  .icons-container
    .icon-book
      a(href="https://www.uncpress.org/book/9781469626864/an-islandwide-struggle-for-freedom/" target="_blank")
        img(src="https://drive.google.com/uc?id=1VGglR4X4uaKsQzfjGRyQWOsAnH9hrd_0" alt="UNC Press logo." class="icons-container-icon")
    .icon-book
      a(href="https://www.amazon.com/Islandwide-Struggle-Freedom-Emancipation-Reenslavement-ebook/dp/B015ZTG2UM/ref=sr_1_1?ie=UTF8&qid=1446851797&sr=8-1&keywords=graham+nessler" target="_blank")
        img(src="https://drive.google.com/uc?id=1bXkV6WtLa_G7su5sHueWa8zrhrvxjIzH" alt="Amazon logo." class="icons-container-icon amazon-icon")
